*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: general sans;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}
#cover{
    height: 480px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    position: relative;
}
#stories{
    height: 120px;
    width: 100%;
    /* background-color: red; */
    padding: 15px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
#stories::-webkit-scrollbar{
    display: none;
}

.story{
     border: 2px solid red;
     height: 90px;
     border-radius: 50%;
     width: 90px;
     overflow: hidden;
     display: inline-block;
     margin-right: 5px;
     
}
.story img{
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#fullscreen{
    border-radius: 7px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}